<!doctype html>

<html>
  <head>
      <title>Classify your Image!</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
      <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
      .w3-bar-block .w3-bar-item {padding:20px}
      .w3-card {padding:64px; margin:100px}
      </style>
  </head>

  <body>
  <div class="w3-card" id="maintext">
    <h1>Upload your image to be classified</h1>
    <p class="w3-large">Click on the "Choose File" button to select an image to classify, then press "Upload"</p>

    <div class="w3-container">
      <form method=post enctype=multipart/form-data style="padding:32px">
          <input class="w3-input" type=file name=file accept="image/*">
          <input class="w3-input" type=submit value=Upload>
      </form>
    </div>
  </div>

  <div class="w3-content">
    <h2>Possible classifications</h2>
    <p>Your image will be classified among the following 17 artists. These were chosen as the ones with at least 150 artworks in the <a href="https://www.kaggle.com/ikarus777/best-artworks-of-all-time">best artworks of all time</a> dataset.
    </p>

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="artists">
      <div class="w3-quarter">
        <h3>Alfred Sisley</h3>
        <h5>Impressionism</h5>
        <img src="/static/Alfred Sisley/Alfred_Sisley_101.jpg" alt="Alfred Sisley" style="width:100%">
        <p>French/English painter</p>
      </div>
      <div class="w3-quarter">
        <h3>Amedeo Modigliani</h3>
        <h5>Modern, Surreal</h5>
        <img src="/static/Amedeo Modigliani/Amedeo_Modigliani_10.jpg" alt="Amedeo Modigliani" style="width:100%">
        <p>Italian Jewish painter & sculptor</p>
      </div>
      <div class="w3-quarter">
        <h3>Andy Warhol</h3>
        <h5>Pop art</h5>
        <img src="/static/Andy Warhol/Andy_Warhol_103.jpg" alt="Andy Warhol" style="width:100%">
        <p>American artist, film director, and producer</p>
      </div>
      <div class="w3-quarter">
        <h3>Edgar Degas</h3>
        <h5>Impressionism</h5>
        <img src="/static/Edgar Degas/Edgar_Degas_1.jpg" alt="Edgar Degas" style="width:100%">
        <p>French painter</p>
      </div>
    </div>

    <!-- 2nd Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="artists">
      <div class="w3-quarter">
        <h3>Francisco Goya</h3>
        <h5>Romanticism</h5>
        <img src="/static/Francisco Goya/Francisco_Goya_1.jpg" alt="Sandwich" style="width:100%">
        <p>Spanish painter</p>
      </div>
      <div class="w3-quarter">
        <h3>Henri Matisse</h3>
        <h5>Expressionism, Fauvism</h5>
        <img src="/static/Henri Matisse/Henri_Matisse_1.jpg" alt="Steak" style="width:100%">
        <p>French painter</p>
      </div>
      <div class="w3-quarter">
        <h3>Marc Chagall</h3>
        <h5>Cubism, Expressionism</h5>
        <img src="/static/Marc Chagall/Marc_Chagall_1.jpg" alt="Cherries" style="width:100%">
        <p>Russian-French painter and stained glass artist</p>
      </div>
      <div class="w3-quarter">
        <h3>Mikhail Vrubel</h3>
        <h5>Symbolism, Realism, Art Nouveau</h5>
        <img src="/static/Mikhail Vrubel/Mikhail_Vrubel_10.jpg" alt="Pasta and Wine" style="width:100%">
        <p>Russian painter</p>
      </div>
    </div>

    <!-- 3rd Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="artists">
      <div class="w3-quarter">
        <h3>Pablo Picasso</h3>
        <h5>Cubism, Surrealism, Expressionism</h5>
        <img src="/static/Pablo Picasso/Pablo_Picasso_1.jpg" alt="Sandwich" style="width:100%">
        <p>Spanish artist</p>
      </div>
      <div class="w3-quarter">
        <h3>Paul Gauguin</h3>
        <h5>Primitivism, Post-Impressionism, Synthesism</h5>
        <img src="/static/Paul Gauguin/Paul_Gauguin_10.jpg" alt="Steak" style="width:100%">
        <p>French artist</p>
      </div>
      <div class="w3-quarter">
        <h3>Paul Klee</h3>
        <h5>Expressionism, Abstract, Cubism</h5>
        <img src="/static/Paul Klee/Paul_Klee_1.jpg" alt="Cherries" style="width:100%">
        <p>Swiss-born German artist</p>
      </div>
      <div class="w3-quarter">
        <h3>Pierre-Auguste Renoir</h3>
        <h5>Impressionism, Realism</h5>
        <img src="/static/Pierre-Auguste Renoir/Pierre-Auguste_Renoir_10.jpg" alt="Pasta and Wine" style="width:100%">
        <p>French painter</p>
      </div>
    </div>

    <!-- 4th Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="artists">
      <div class="w3-quarter">
        <h3>Rembrandt</h3>
        <h5>Baroque</h5>
        <img src="/static/Rembrandt/Rembrandt_10.jpg" alt="Rembrandt" style="width:100%">
        <p>Dutch Golden Age painter</p>
      </div>
      <div class="w3-quarter">
        <h3>Rene Magritte</h3>
        <h5>Surrealism, Art Deco, Dadaism</h5>
        <img src="/static/Rene Magritte/Rene_Magritte_100.jpg" alt="Rene Magritte" style="width:100%">
        <p>Belgian painter</p>
      </div>
      <div class="w3-quarter">
        <h3>Sandro Botticelli</h3>
        <h5>Italian Renaissance</h5>
        <img src="/static/Sandro Botticelli/Sandro_Botticelli_1.jpg" alt="Sandro Botticelli" style="width:100%">
        <p>Floriencian painter</p>
      </div>
      <div class="w3-quarter">
        <h3>Titian</h3>
        <h5>Italian Renaissance</h5>
        <img src="/static/Titian/Titian_100.jpg" alt="Titian" style="width:100%">
        <p>Venetian painter</p>
      </div>
    </div>

    <!-- last row -->
    <div class="w3-row-padding w3-padding-16 w3-center" id="artists">
      <div class="w3-quarter">
        <h3>Vincent van Gogh</h3>
        <h5>Impressionism, Post-Impressionism, Japonisme</h5>
        <img src="/static/Vincent van Gogh/Vincent_van_Gogh_1.jpg" alt="van gogh" style="width:100%">
        <p>Dutch painter</p>
      </div>
    </div>

    <h2>More on the classifier</h2>
    <p>The model is composed of a feature extractor (VGG16, using Keras) with a SVM classifier on top, implemented with Scikit-learn.
      As the numbers of paintings per artist were quite unbalanced from one artist to another, class weights were used to balance out the dataset.
      Classes were selected as the artists with at least 150 identified paintings, ranging from 164 (Botticelli) to 877 paintings (Van Gogh).
      Also, data augmentation was used to remedy the fact that the number of training and testing images was small, by the nature of the data.
      </p>
    <h4>Performance</h4>
    <p>The model's accuracy is about 56%, meaning that a given label is predicted correctly, on average, 56% of the time. The model could perform
      better if trained on more consistent data from each artist (i.e. not a full catalogue of their work, but works in a select style).
      Unfortunately, due to the name of art classifiers, it is natural for the number of training samples to be limited.
      Many artists' folders included sketches and early works that may not be representative of the artist's main style.
     </p>
     <div class="w3-panel w3-center">
       <img src="/static/Vincent van Gogh/Vincent_van_Gogh_750.jpg" alt="van gogh in his style" style="height:350px">
       <img src="/static/Vincent van Gogh/Vincent_van_Gogh_104.jpg" alt="van gogh sketch" style="height:350px">
     </div>

    <img src="/static/confusion_matrix_validation.png" alt="Confusion matrix">

  </div>
  <footer class="w3-center w3-light-grey w3-padding-32" style="margin-top:80px">
    <p>Template from <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  </footer>
  </body>
</html>
